{% extends "model-page.html" %}

{% block content %}

<h2 style=" font-family:courier;
            font-size:30px;
            color:white;
            font-weight;
            text-transform: uppercase;">Evento</h2>

<form action="submit" method="POST">{% csrf_token %}
    <label style="  color: #ffffff;
                    font-weight: bold;
                    width: 130px;
                    float: center;">Título
    </label>
    <input type="number" name="id_evento" value="{{ evento.id }}" hidden>
    <br>
    <input style=" color:white;
                            padding: 5px;
                            width: 300px;
                            border-radius:10px;
                            border-style: solid;
                            border-width: 2px;
                            background-color:gray;"
           type="text" name="titulo" size="20" value="{{ evento.titulo }}">
    <br><br><br>
    <label style="  color: #ffffff;
                    font-weight: bold;
                    width: 130px;
                    float: center;">Data do Evento
    </label>
    <br>
    <input style=" color:white;
                            padding: 5px;
                            width: 300px;
                            border-radius:10px;
                            border-style: solid;
                            border-width: 2px;
                            background-color:gray;"
           type="datetime-local" name="data_evento" value="{{ evento.get_data_input_evento }}">
    <br><br><br>
    <label style=" color: #ffffff;
                    font-weight: bold;
                    width: 130px;
                    float: center;">Local
    </label>
    <br>
    <input style="color:white;
                            padding: 5px;
                            width: 300px;
                            border-radius:10px;
                            border-style: solid;
                            border-width: 2px;
                            background-color:gray;"
           type="text" name='local' value="{{ evento.local }}">
    <br><br><br>
    <label style=" color: #ffffff;
                    font-weight: bold;
                    width: 130px;
                    float: center;">Descrição
    </label>
    <br>
    <textarea style="color:white;
                            padding: 5px;
                            width: 300px;
                            border-radius:10px;
                            border-style: solid;
                            border-width: 2px;
                            background-color:gray;"
              name="descricao" rows="5" cols="21">{{ evento.descricao }}

    </textarea>
    <br><br>
    <button onclick="save()"
            style="display: inline-block;
                          padding: 5px 5px;
                          width: 80px;
                          font-size: 15px;
                          cursor: pointer;
                          text-align: center;
                          text-decoration: none;
                          outline: none;
                          color: #fff;
                          background-color: #4CAF50;
                          border: none;
                          border-radius: 15px;
                          box-shadow: 10px 5px 5px black;"
            type="submit">Salvar
    </button>
    <a href="/">
    <button style="display: inline-block;
                          padding: 5px 5px;
                          width: 80px;
                          font-size: 15px;
                          cursor: pointer;
                          text-align: center;
                          text-decoration: none;
                          outline: none;
                          color: #fff;
                          background-color: brown;
                          border: none;
                          border-radius: 15px;
                          box-shadow: 10px 5px 5px black;"
                type="button">Cancelar
        </button>
    </a>
</form>
<br><br><br><br><br><br>
{% endblock %}