{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <div style=" border: 1px solid gray;
                 background-color: rgb(2, 119, 189);
                 border-radius: 5px;"
         align="center">
        <h1>Agenda de Eventos</h1>
        <img src="{% static 'images/marca_cuca.png' %}">
    </div>
    <form action="submit" method="POST">{% csrf_token %}
        <div align="center">
            <br><br>
            <label style="  color: #000000;
                            font-weight: bold;
                            width: 130px;
                            float: center;">LOGIN
            </label>
            <br>
            <input style="  padding: 5px;
                            width: 300px;
                            border-radius:5px;
                            border-style: solid;
                            border-width: 2px;
                            border-color: rgb(2, 162, 255);"
                   name="username">
            <br><br>
            <label style="  color: #000000;
                            font-weight: bold;
                            width: 130px;
                            float: center;">PASSWORD
            </label>
            <br>
            <input style="  padding: 5px;
                            width: 300px;
                            border-radius:5px;
                            border-style: solid;
                            border-width: 2px;
                            border-color: rgb(2, 162, 255);"
                   type="password"
                   name="password">
            <br><br>
            <button onclick="teste();" style="	padding: 6px;
                            width: 150px;
                            border-radius:10px;
	                        background-color: rgb(0, 76, 120);
                            color: rgb(255, 255, 255);
                            border-style: solid;
                            border-width: 3px;
                            border-color: rgb(2, 162, 255);"
                    type="submit">Entrar
            </button>
            <br><br>
        </div>
    </form>
    {% for message in messages %}
        <div align="center">
            <strong>Erro </strong>{{ message }}
         </div>
    {% endfor %}
</body>
</html>