<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <div style=" border: 1px solid gray;
                 background-color: rgb(2, 119, 189);
                 border-radius: 5px;"
         align="center">
        <h1 style=" font-family:courier;
                    font-size:50px;
                    color:white;
                    font-weight;
                    text-transform: uppercase;">Agenda de Eventos</h1>
        <img src="{% static 'images/marca_cuca.png' %}">
    </div>
    <form action="submit" method="POST">{% csrf_token %}
        <div align="center">
            <br><br><br>
            <label style="  font-size: 20px;
                            font-family:courier;
                            color: #ffffff;
                            font-weight: bold;
                            width: 130px;
                            float: center;">LOGIN
            </label>
            <br>
            <input style="  color:white;
                            padding: 5px;
                            width: 350px;
                            border-radius:10px;
                            border-style: solid;
                            border-width: 2px;
                            background-color:gray;"
                   name="username">
            <br><br><br>
            <label style="  font-size:20px;
                            font-family:courier;
                            color: #ffffff;
                            font-weight: bold;
                            width: 130px;
                            float: center;">PASSWORD
            </label>
            <br>
            <input style="  color:white;
                            padding: 5px;
                            width: 350px;
                            border-radius:10px;
                            border-style: solid;
                            border-width: 2px;
                            background-color: gray;"
                   type="password"
                   name="password">
            <br><br><br>
            <label style="font-size: 18px;
                        font-family:courier;
                        font-weight: bold;
                        ">Ainda não tem conta?
            </label>
            <a style="font-size: 20px;
                        color: blue;"
               href="/agenda/cadastro">Cadastre-se</a>
            <br><br><br>
            <button onclick="valida();"
                    style="display: inline-block;
                          padding: 15px 15px;
                          width: 100px;
                          font-size: 15px;
                          cursor: pointer;
                          text-align: center;
                          text-decoration: none;
                          outline: none;
                          color: #fff;
                          background-color: #4CAF50;
                          border: none;
                          border-radius: 15px;
                          box-shadow: 10px 5px 5px black;"
                    type="submit">Entrar
            </button>
            <br><br>
        </div>
    </form>
    {% for message in messages %}
        <div align="center">
            <strong style="font-family:courier; font-size:20px;
                          display: inline-block;
                          padding: 5px 5px;
                          width: 330px;
                          font-size: 15px;
                          text-align: center;
                          text-decoration: none;
                          outline: none;
                          color: #fff;
                          background-color: brown;
                          border-radius: 15px;
                          box-shadow: 10px 5px 5px black;"
            >Erro: {{ message }} </strong>
            <br><br>
         </div>
    {% endfor %}
</body>
</html>