<meta charset="UTF-8">
<div style=" border: 1px solid gray;
                 background-color: rgb(2, 119, 189);
                 border-radius: 5px;"
         align="center">
        <a style="  padding: 7px;
                    border-radius:10px;
                    background-color: rgb(0, 76, 120);
                    color: rgb(255, 255, 255);
                    border-style: solid;
                    border-width: 3px;
                    border-color: rgb(2, 162, 255);
                    float: right;"
           href="/logout">logout</a>
        <h1 >Agenda</h1>
</div>