{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<meta charset="UTF-8">
<div style=" border: 1px solid gray;
                 background-color: rgb(2, 119, 189);
                 border-radius: 5px;"
         align="center">
        <a onclick="logof()" style="display: inline-block;
                          padding: 15px 15px;
                          width: 80px;
                          font-size: 15px;
                          cursor: pointer;
                          text-align: center;
                          text-decoration: none;
                          outline: none;
                          color: #fff;
                          background-color: brown;
                          border: none;
                          border-radius: 15px;
                          float: right"
           href="/logout">logout</a>
        <h1 style="font-family:courier; font-size:50px; color:white; font-weight; text-transform: uppercase;">Agenda</h1>
</div>